.navBar {
  width: 100vw;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  padding-top: 10px;
  background-color: none;
  position: absolute;
  top: 0px;
  z-index: 1000;
}

.navBarLinks {
  display: flex;
  padding-right: 20px;
}

.navBarLinks li {
  list-style: none;
  padding: 10px 30px;
}

.navBar a {
  text-decoration: none;
  color: var(--dark-blue);
  font-size: 26px;
}

.navBar a:hover {
  color: var(--blue);
}

.navBar .logo:hover .logoText {
  fill: var(--blue);
}

.navBar .logo:hover .logoTriangles {
  stroke: var(--red);
}
