/* General css*/
.navBar {
  width: 100vw;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  padding-top: 10px;
  background-color: none;
  position: absolute;
  top: 0px;
  z-index: 1000;
}

.navBarLinks {
  display: flex;
  padding-right: 20px;
}

.navBarLinks li {
  list-style: none;
  padding: 10px 30px;
}

/* Light Theme (on light backgrounds) */
.navBar.light a {
  text-decoration: none;
  color: var(--dark-blue);
  font-size: 26px;
}

.navBar.light a:hover {
  color: var(--blue);
}

.navBar.light .logo:hover .logoText {
  fill: var(--blue);
}

.navBar.light .logo:hover .logoTriangles {
  stroke: var(--red);
}

/* Dark Theme (on dark baxckgrounds)*/
.navBar.dark a {
  text-decoration: none;
  color: var(--rose);
  font-size: 26px;
}

.navBar.dark a:hover {
  color: var(--green);
}

.navBar.dark .logo .logoText {
  fill: var(--rose);
}

.navBar.dark .logo .logoTriangles {
  stroke: var(--dark-blue);
}
.navBar.dark .logo:hover .logoText {
  fill: var(--green);
}

.navBar.dark .logo:hover .logoTriangles {
  stroke: var(--red);
}
