.video {
  width: 640px;
  height: 360px;
  background-color: var(--blue);
}

.poster {
  width: 400px;
  height: 640px;
}

.poster img {
  height: 600px;
}

.videoPlayer {
  transition: all 0.5s linear;
}
